.header__header{
  margin: 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/header.jpg');
  background-size: cover;
  font-size: 20px;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
  size: 24px;
}

.header__div{
  position: fixed;
  top: 50px;
  left:50px ;
}

.header__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
  color: #0c474b;
  
  
 
}


/* .header_img{
  position: absolute; 
  top: 50px; 
  left: 50px; 
  
  height: auto; 
  z-index: 10; 
   */


/* .header__page{
  background-color: #0c474b;
  color: white; 
  border: none;
  padding: 10px 20px; 
  font-size: 16px; 
  text-align: center; 
  cursor: pointer; 
  display: inline-block; 
  border-radius: 0; 
  margin-top: 15px;
  text-decoration:  none;
}  */
/* 
.header__enlace{
  text-decoration:  none;
  color: white;
} */

.header__boton{
  background-color: #0c474b;
  color: white; 
  border: none;
  padding: 10px 20px; 
  font-size: 16px; 
  text-align: center; 
  cursor: pointer; 
  display:inline-block;
  border-radius: 0; 
  margin-top: 15px;
  z-index: 1000;
  
}
.header__boton:hover{
  background-color: #ff975a;
  }

  .header__article {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 30px;
  }
  
.header__h1{
  text-decoration: none;
  list-style-type: none;
  border: none; 
  
}