<footer >
  <section class="page__footer">
  <section class="footer__section">
    <h3>Tienda</h3>
    <ul class="footer__list">
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Productos </a></li>
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Cajoneras </a></li>
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Para toda la casa </a></li>
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Habitaciones </a></li>
    </ul>
  </section>

  <section class="footer__section">
    <h3>Nosotros</h3>
    <ul class="footer__list">
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Nuestra guía </a></li>
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Nuestro diseño </a></li>
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Nuestra historia </a></li>
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Ayuda </a></li>
    </ul> 
  </section>
  <section class="footer__section">
    <h3>Contacto</h3>
    <ul class="footer__list">
        <li><a class="color_links" href="https://adalab.es/" target="_blank">ayuda@openspaces.com </a></li>
        <li><a class="color_links" href="https://adalab.es/" target="_blank">Socios </a></li>  
    </ul>
  </section>
</section>
  <section>
    <ul class="footer__social">
        <li> <img src="../images/brand-instagram.png" alt="Instagram"><a class="color_links" href="https://adalab.es/" target="_blank"></a></li>
        <li> <img src="../images/brand-linked-in.png" alt="linked-in"><a class="color_links" href="https://adalab.es/" target="_blank"> </a></li>
        <li> <img src="../images/brand-twitter.png" alt="twitter"><a class="color_links" href="https://adalab.es/" target="_blank"></a></li>
       
    </ul>
  </section>
</footer>
