<footer class="page__footer">
  <section>
    <h3>Tienda</h3>
    <ul>
        <li><a href="https://adalab.es/" target="_blank">Productos </a></li>"
        <li><a href="https://adalab.es/" target="_blank">Cajoneras </a></li>"
        <li><a href="https://adalab.es/" target="_blank">Para toda la casa </a></li>"
        <li><a href="https://adalab.es/" target="_blank">Habitaciones </a></li>"
    </ul>
  </section>

  <section>
    <h3>Nosotros</h3>
    <ul>
        <li><a href="https://adalab.es/" target="_blank">Nuestra guía </a></li>"
        <li><a href="https://adalab.es/" target="_blank">Nuestro diseño </a></li>"
        <li><a href="https://adalab.es/" target="_blank">Nuestra historia </a></li>"
        <li><a href="https://adalab.es/" target="_blank">Ayuda </a></li>"
  </section>
  <section>
    <h3>Contacto</h3>
    <ul>
        <li><a href="https://adalab.es/" target="_blank">ayuda@openspaces.com </a></li>"
        <li><a href="https://adalab.es/" target="_blank">Socios </a></li>"    
    </ul>
  </section>
  <section>

  </section>
</footer>
