<main class="page__main">
  <section class="main__section1">
    <h2 class="main_box1">Volverse organizado se siente mejor con OPEN SPACES</h2>
    <div class="main_box2"><img class="main__image" src="../images/icon_1.png" alt="mesa">
    <article class="main__article">
      <h3 >Lo que necesitas</h3>
      <p>Una línea de productos diseñados para todos tus espacios</p>
    </div>
    </article>
      <div class="main_box3"><img class="main__image" src="../images//Biodegradable bag.png" alt="bolsa">
    <article class="main__article1">
      <h3>Materia primas sustentables</h3>
      <p>Todos los productos con materias primeras sustentables</p>
    </article>
    </div>
    
    <div class="main_box4"><img class="main__image" src="/../images//Park.png" alt="park">
    <article class="main__article2">
      <h3>Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objeto</p>
    </article>
  </div>
  </section>

 
    <section class="section1">
      <img src="../images//go_6.png" alt="coche">
    <article class="main__article3">
        <h2>Envío gratis garantizado</h2>
        <p>Envio gratis en compras desde 100</p>
    </article>
    <button class="main__boton2"><a class="color_links" href="https://adalab.es/" target="_blank">Comprar Ahora</a></button>
    </section>
    

 <section>
    <article class="main__section3">
        <h2>Disfruta creando espacios</h2>
        <p>Una línea de productos diseñadas para todos tus espacios</p>
        <button class="main__boton" ><a class="color_links" href="//adalab.es/" target="_blank">Comprar Ahora</a></button>
    </article>
    
    <div class="main__div">
      <img class="main_img1"  src="../images/creando-espacios.jpg" alt="imagen">
    </div>
 </section>
  
</main>
