@use 'core/reset';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/body';

*{
    font-family: poppins, sans-serif;
    
}

.header__boton{
    background-color: #0c474b;
    color: white; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    text-align: center; 
    cursor: pointer; 
    display: inline-block; 
    border-radius: 0; 
    margin-top: 15px;
}